<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>HTML Template</title>
  </head>
  <body>
    <h1>Bellanov Apilli</h1>
    <p>Solution and Cloud Architect.</p>

    <h1 class="text-3xl font-bold underline">Projects</h1>
    <ul>
      <li><a href="http://github.com/bellanov/google">Terminal User Interface (TUI) for Google Cloud Platform</a></li>
      <li><a href="http://github.com/bellanov/aws">Terminal User Interface (TUI) for AWS</a></li>
      <li><a href="http://github.com/bellanov/andy">Decentralized task and workforce management</a></li>
      <li><a href="http://github.com/bellanov/bellanov-llc">Source Code for this website</a></li>
    </ul>
  </body>
</html>
